{{ define "main" }}
  {{ partial "profile.html" . }}
  <section id="archive">
    {{ $posts := where .Site.RegularPages "Draft" false }}
    {{ $sortedPosts := sort $posts "Date" "desc" }}
    {{ range $group := $sortedPosts.GroupByDate "2006" }}
      <div class="group">
        <h3 class="key">{{ $group.Key }}</h3>
        {{ range $group.Pages }}
          <div class="value">
            <div class="date">
              <time datetime="{{ .Date }}">{{ i18n "publishDateShort" . }}</time>
            </div>
            <div class="title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{ with .Params.tags }}
                <div class="tags">
                  {{ range . }}
                    <a href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </section>
{{ end }}